{% load static %}

<!--- Connect -->


<!--- Footer -->

<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
        <hr class="light">
        <div class="row social">
               <div class="col-md-4">
    <p class="navbar-text navbar-first-line"><b> Vacation In Greece </b></p>
    
           </div>
           <div class="col-md-8">
           <div class="row">
            
             </div>
    </div> 
     
         
   
        
        </div>
    </div>
</footer>

 
