{% extends 'blog/base.html' %}
{% load static %}
{% load blog_extras %}

{% block content %}
   
<div class="container-fluid">
   
<!--- Jumbotron -->
    <div class="jumbotron row d-flex  justify-content-center text-center ">
        <div class="col-sm-12 col-md-3 col-lg-3 runner order-1 order-lg-0">
     
            {% include 'blog/blog_side_bar.html' %}
                
        </div><!-- col-md-3 col-lg-4 disapear_sm runner -->
    
        <div class="col-sm-12 col-md-8 col-lg-8 post_main order-0 order-lg-1">

            <div class="col-12 blog_name">
                <h1><a href="#">{{page_title}}</a></h1>
            </div>
            <div class="row ">
                {% if user.is_authenticated %}
                <div class="col-12">
                    <a class="btn btn-default" href="{% url 'blog:post_new' %}"><i class="far fa-plus-square"></i></a>
                </div>
                {% endif %}
           
                {% for post_even_or_odd in posts %}
                <div class="col-sm-12 col-md-6">
                    {% for post in post_even_or_odd %}

                    <div class="row post_column">

                <div class="col-12 blog_name">
                        <h3><a href="{% url 'blog:post_detail' url=post.url %}">{{ post.title }}</a></h3>
                    </div>
                    {% if post.published_date %}
                    <div class="col-12 mb-2"><i><b>{{ post.published_date|date:"d.m.Y" }}</b></i></div>
                    {% endif %}
                    {% if post.image %}
                    <div class="col-12">
                        <a class="post_img" href="#" data-image-id="" data-toggle="modal" data-title=""
                        data-image="{{post.image.url}}"
                        data-target="#image-post">
                        <img class="img-thumbnail"
                        src="{{post.image.url}}"
                        alt="">
                    </a>
                    </div>
                {% endif %}

                <div class="col-12">
                {{ post.text |blog_url_and_linebreaks }}
                </div>
                <!--

                    <div class="col-12">
                        <a href="{% url 'blog:post_detail' url=post.url %}">מספר תגובות: {{ post.approved_comments.count }}</a>
                    </div>
                -->
                    </div> <!-- "row post_column"  --> 
                
                    {% endfor %}
                </div> <!-- "col-sm-12 col-md-6"  --> 
                {% endfor %}  
        
        
            </div> <!-- "row "  -->     
          </div>  <!-- col-sm-12 col-md-12 col-lg-8 -->             
          
<!--- Close previous div -->
        </div><!-- jumbotron row  text-center .d-none .d-sm-block -->
    </div><!-- container-fluid -->
<!--- Welcome Section -->

{% endblock %}
