{% extends 'blog/base.html' %}
{% load static %}


{% block head %}
        <title>קיימברידג' בעברית הבלוג</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    {% endblock %}
{% block content %}
   
<div class="container-fluid">
   
<!--- Jumbotron -->
    <div class="jumbotron row d-flex  justify-content-center text-center ">
        <div class="col-sm-12 col-md-10 col-lg-3 runner">
     
            {% include 'blog/blog_side_bar.html' %}
                
        </div><!-- col-md-3 col-lg-4 disapear_sm runner -->
    
        <div class="col-sm-12 col-md-8 col-lg-4 post_main">
            <div class="col-12 blog_name">
                <h1><a href="#">{{page_title}}</a></h1>
            </div>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Send</button>
                </form>
        
            </div> <!-- "row "  -->     
          </div>  <!-- col-sm-12 col-md-12 col-lg-8 -->             
          
<!--- Close previous div -->
        </div><!-- jumbotron row  text-center .d-none .d-sm-block -->
    </div><!-- container-fluid -->
<!--- Welcome Section -->

{% endblock %}

